---
- name: create hcloud token secret
  shell: 'kubectl -n kube-system create secret generic hcloud --from-literal=token={{ hcloud_token }}'
  delegate_to: '{{ hostvars[groups.kube_master[0]].ansible_host }}'
- name: apply controller manifest
  shell: 'kubectl apply -f hetzner-cloud-controller-{{ hcloud_controller_manager_version }}.yaml'
  delegate_to: '{{ hostvars[groups.kube_master[0]].ansible_host }}'
