---
- name: create hcloud token secret
  shell: 'kubectl -n kube-system create secret generic hcloud --from-literal=token={{ hcloud_token }}'
  delegate_to: '{{ hostvars[groups.kube_master[0]].ansible_host }}'
  run_once: true
- name: copy to master
  copy:
    src: 'hetzner-cloud-controller-manager-{{ hcloud_controller_manager_version }}.yaml'
    dst: '/root/hetzner-cloud-controller-manager.yaml'

- name: apply controller manifest
  shell: 'kubectl apply -f /root/hetzner-cloud-controller-manager.yaml'
  delegate_to: '{{ hostvars[groups.kube_master[0]].ansible_host }}'
  run_once: true
